@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@300&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
}

.headerContainer{
  background-color:#FFFBEB;
}

.headerTitle{
  font-family: 'Montez', cursive;
}

.homescreenContainer{
  padding-left: 40px;
  padding-right: 40px;
  /* background-color: #FFF7ED */
  background-color: #FFFBEB;
    
}

.bannerContainer{
  display: flex;
  margin-left: 10%;
}

.leftBanner{
  flex: 2px;
  width: 25ch;
  margin-left: 5%;
  margin-top: 20px;
}

.leftBannerHeader{
  font-size: 50px;
  font-weight: 200;
  width: 15ch;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
 
}

.leftBannerText{
  width: 30ch;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.bannerButton{
  margin-top: 20px;
}

.bannerImageContainer{
  flex: 2px;
  display: flex;
  margin-top: 30px;  
}

.bannerImage{
  width: 70%;
  height: 70%;
  object-fit: contain;
  -ms-transform: rotate(15deg); 
  transform: rotate(15deg);
}
