@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@300&display=swap');
/* body{
  font-family: 'Montserrat', sans-serif;
} */

.headerContainer{
  background-color:#FFFBEB;
}

.headerTitle{
  font-family: 'Montez', cursive;
}

.homebannerContainer{
  padding-left: 40px;
  padding-right: 40px;
  background-color: #FFFBEB;
}

.bannerContainer{
  display: flex;
  margin-left: 10%;
}

.leftBanner{
  flex: 2px;
  width: 25ch;
  margin-left: 5%;
  margin-top: 20px;
}

.leftBannerHeader{
  font-size: 50px;
  font-weight: 200;
  width: 15ch;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.leftBannerText{
  width: 30ch;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.bannerButton{
  margin-top: 20px;
}

.bannerImageContainer{
  flex: 2px;
  display: flex;
  margin-top: 30px;  
}

.bannerImage{
  width: 70%;
  height: 70%;
  object-fit: contain;
  -ms-transform: rotate(15deg); 
  transform: rotate(15deg);
}

.companiesDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.companyLogosContainer{
  display: flex;
  padding: 10px;
  justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 40px;
}

.companyLogosDiv{
  margin-left: 90px;
}

.companyLogos{
  width: 70px;
  height: 50px;
}

.benefitsHeader{
  display: flex;
  justify-content: center;
  max-height: 5ch;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.benefitsContainer{
  padding:32px
}

.iconContainer{
  display: flex;
  margin-top: 1 0px;
}

.iconDiv{
  display: flex;
  flex: 3px;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
}

.iconHeader{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  /* margin-left: -18px; */
  margin-top: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconText{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: flex;
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  min-width: 5ch;
}

.iconImageDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconImage{
  width: 35px;
  height: 35px;
}

.contactusDiv{
  display: flex;
  margin-top: 20%;
  margin-left: 20%;
}

.contactusText{
  width: 40ch;
  font-size: 15px;
  margin-top: 20px;
}

.contactusTextContainer{
  padding: 10px;
  margin-left: 100px;
  font-family: 'Montserrat', sans-serif;

}

.contactusIcon{
    width: 110%;
    height: 110%;
    margin-left: 60px;
}

.contactusHeader{
  font-weight: bold;
  font-size: 30px;
}

.contactusFormContainer{
  margin-top: 25%;
  padding-left: 30px;
  font-family: 'Montserrat', sans-serif;
}

.aboutusHeaderContainer{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

.aboutusContainer{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.aboutusNumbers{
  font-weight:bold;
  font-size:30px;
  color: #f5b86e
}

.aboutusHeader{
  font-weight:bold;
  font-size:13px
}

.aboutusText{
  display:flex;
  text-align: center;
  font-size:30px;
  max-width:60ch;
  margin-left:70px;
  margin-right:70px;
  font-family: 'Montserrat', sans-serif;
}

.aboutHeader{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.productHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 20px;
 
}

.productContainer{
  padding: 20px;
}

/* .productsHeaders{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
} */

.similarProductsContainer{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.similarProducts{
  /* background-color: rgb(232, 237, 237); */
  width: 40%;
  height: 185px;
  margin-left: 40px;
  background-color: #f5b86e;
}
  





