@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@300&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
}

.headerContainer{
  background-color:#FFFBEB;
}

.headerTitle{
  font-family: 'Montez', cursive;
}

.homebannerContainer{
  padding-left: 40px;
  padding-right: 40px;
  /* background-color: #FFF7ED */
  background-color: #FFFBEB;
}

.bannerContainer{
  display: flex;
  margin-left: 10%;
}

.leftBanner{
  flex: 2px;
  width: 25ch;
  margin-left: 5%;
  margin-top: 20px;
}

.leftBannerHeader{
  font-size: 50px;
  font-weight: 200;
  width: 15ch;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.leftBannerText{
  width: 30ch;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.bannerButton{
  margin-top: 20px;
}

.bannerImageContainer{
  flex: 2px;
  display: flex;
  margin-top: 30px;  
}

.bannerImage{
  width: 70%;
  height: 70%;
  object-fit: contain;
  -ms-transform: rotate(15deg); 
  transform: rotate(15deg);
}

.companiesDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.companyLogosContainer{
  display: flex;
  padding: 10px;
  justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 40px;
}

.companyLogosDiv{
  margin-left: 90px;
}

.companyLogos{
  width: 70px;
  height: 70px;
}

.benefitsHeader{
  display: flex;
  justify-content: center;
  max-height: 5ch;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.benefitsContainer{
  padding:20px
}

.iconContainer{
  display: flex;
  margin-top: 1 0px;
}

.iconDiv{
  display: flex;
  flex: 3px;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
}

.iconHeader{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  /* margin-left: -18px; */
  margin-top: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconText{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: flex;
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  min-width: 5ch;
}

.iconImageDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconImage{
  width: 35px;
  height: 35px;
}


